**/node_modules
**/common/credentials
**/common/database/ibm-credentials.env
**/package-lock.json
call.js
rawDiscoveryResponse.json
**/output*.json
invocation.json
assistantResponse.json
phoneLogs.json
test.js
insert.js
create.js
invocationCloud.json
finale.json
curator-interface/client/.eslintcache
curator-interface/client/yarn.lock
**/.DS_Store
curator-interface/client/src/helpers/standardDashboard.json
**/*.zip
**/.env
**/deploy.yaml